body {
  color: #40514E;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

h1 {
  color: #66BFBF;
  font-size: 5.625rem;
  line-height: 2;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
}

h2 {
  color: #66BFBF;
  font-family: 'Manrope', sans-serif;
  font-size: 2rem;
  font-weight: normal;
}

h3 {
  font-family: 'Roboto';
  color: #11999E;
}

a {
  color: #11999E;
  font-family: 'Manrope', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}


hr {
  border-style: none;
  border-top: dotted;
  border-width: 10px;
  border-color: #707070;
  margin: 100px auto;
  width: 10%;
}

p {
    line-height: 1.6;
}

.top-container {
  background-color: #D8E3E7;
  position: relative;
  padding-top: 100px;
}

.middle-container {
}

.bottom-container {
  background-color: #66BFBF;
  padding: 40px 0 20px;
  position: relative;
}

.intro{
  width: 450px;
  margin: auto;
}

.contact-me {
  margin: 30px auto 50px auto;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.top-cloud {
  position: absolute;
  right: 400px;
  top: 60px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  top: 300px;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0 10px;
}

.programming-img {
  border-radius: 50%;
  float: left;
  margin-right: 30px;
  width: 25%;
}

.hiking-img {
  border-radius: 50%;
  float: right;
  width: 25%;
  margin-left: 30px;
}

.button {
   background: #11CDC4;
   background-image: -webkit-linear-gradient(top, #11CDC4, #11999E);
   background-image: -moz-linear-gradient(top, #11CDC4, #11999E);
   background-image: -ms-linear-gradient(top, #11CDC4, #11999E);
   background-image: -o-linear-gradient(top, #11CDC4, #11999E);
   background-image: -webkit-gradient(to bottom, #11CDC4, #11999E);
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   border-radius: 10px;
   color: #FFFFFF;
   font-family: 'Roboto', sans-serif;
   font-size: 16px;
   font-weight: 500;
   padding: 17px;
   border: solid #337FED 0;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.button:hover {
   border: solid #707070 0;
   background: #989B9F;
   background-image: -webkit-linear-gradient(top, #989B9F, #707070);
   background-image: -moz-linear-gradient(top, #989B9F, #707070);
   background-image: -ms-linear-gradient(top, #989B9F, #707070);
   background-image: -o-linear-gradient(top, #989B9F, #707070);
   background-image: -webkit-gradient(to bottom, #989B9F, #707070);
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   border-radius: 10px;
   text-decoration: none;
}
