body {
  background-color: rgb(239, 248, 255);
}

hr {
  border-style: none;
  border-top: dotted;
  border-color: #AAAAAA;
  border-width: 5px;
  width: 5%;
}

h1 {
  color: #125D98;
  text-align: center;
}

h3 {
  color: #125D98;
}
