html, body {
    max-width: 100%;
    overflow-x: hidden;
}

p {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-family: 'Open Sans', sans-serif;
}

h2 {
  font-family: 'Jura', sans-serif;
  color: #685454;
}

h3 {
  font-family: 'Open Sans', sans-serif;
}

.navbar-dark {
  background:  #685454;
}

.paragraph {
  padding-bottom: 3%;
}

/* TITLE SECTION */
#title {
  background-color: #F2F2F2;
  color: #EA8A8A;
  text-align: center;
}

.big-heading {
  font-size: 5rem;
}


.big-subheading {
  font-size: 3rem;
}


.color-container {
  padding: 3% 8%;
}

.title-image {
  position: relative;
}

.text-part {
  padding: 4%;
}

/* Education SECTION */
#Education {
  background-color: #EBD5D5;
  padding: 5% 18%;
  text-align: left;
}
/* .white-container {
  padding: 3% 8%;
} */

.link-icon  {
  color: #EA8A8A;
  margin: 0 1%;
  text-decoration: none;
}

.section-heading {
  font-size: 3rem;
  font-weight: 700;
  margin: 0% 0% 3% 0;
}

.subheading {
  font-size: 1.2em;
  font-weight: bold;
  line-height: 1.5
}

/* Experiences SECTION */
#Experiences {
  background-color: #F2F2F2;
  padding: 5% 18%;
  text-align: left;
}

/* Volunteering SECTION */
#Volunteering {
  background-color: #F2F2F2;
  padding: 0 18% 5%;
  text-align: left;
}

.volunteering-link {
  color: #EA8A8A;
  text-decoration: none;
}

/* Abilities SECTION */
#Abilities {
  background-color: #EBD5D5;
  padding: 5% 18%;
  text-align: left;
}

.flag {
  width: 10%;
  margin: 0 2%;
}

.card-body {
  text-align: center;
}

.card-header {
  text-align: center;
}

/* Hobbies SECTION */
#Hobbies {
  background-color: #F2F2F2;
  text-align: left;
}

.testemonial-pic-size {
  width: 100%;
}

.carousel-content {
    padding: 5% 18%;
}

.carousel-control {
  color: #685454;
}

.center-picture {
  text-align: center;
}


/* FOOTER */
#footer {
  background-color: #685454;
  color: #EA8A8A;
  padding: 3% 18%;
  text-align: center;
}

.social-icon {
  color: #EA8A8A;
  margin: 3%;
  text-decoration: none;
}
